.container img {
    margin-bottom: 5px;
}

.modal-header {
    background-color: green;
}

.modal-header img {
    display: block;
    margin-left: 150px;
}

.modal-body td {
    text-align: center;
}

.modal-body p {
    margin: 4%;
}

.modal-body img {
    width: 50px;
    height: 50px;
}

#container {
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

#inputs, #buttons, #stepButtons {
    width: 100%;
}

.btn {
    width: 100%;
}

.row {
    width: 100%;
}

.col-sm {
    margin: 1px;
    text-align: center;
	border: 2px solid white;
}

.with-number{
	margin: 1px;
    text-align: center;
    border: 2px solid black;
}

#index {
    color: darkgreen;
}

#value {
    color: darkred;
}

hr {
    border: 1px solid darkcyan;
}

p.col-sm {
    text-align: center;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 2rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.1rem;
    text-align: center;
}

/*CSS for snackbar*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 4rem;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

