#dragable_container {
    position: absolute;
    z-index: 9;
    min-width: 40%;
}

#dragable_container_header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #17a2b8;
    color: #fff;
    text-align: center;
}

#dragable_container_header:hover {
    background-color: #383e49;
}

/* Split the screen in half */
.split {
    height: 250px;
    position: absolute;
    margin-bottom: 2rem;
    width: 50%;
    z-index: 1;
    overflow-x: hidden;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
}

/* Control the left side */
.left {
    left: 0;
}

/* Control the right side */
.right {
    right: 0;
}

#search_title {
    text-align: center;
}